.table-subtasks {
    margin-top: 100px;
    margin-left: 100px;
    padding-right: 20px;
    background-color: #131922;
    display: flex;
    flex-direction: column  ;
    
    max-height: 100vh;
    height: auto;
    height: 100%;
    
    z-index: 1000;
}
.table-subtasks__left {
    display: flex;
    flex-direction: column;
    width: 1410px;
    
}
.table-subtasks__header {
    border-radius: 16px 16px 0 0;
    padding: 22px;
    background-color: #222A38;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-subtasks__header-left {
    display: flex;
}
.table-subtasks__header__search {
    display: flex;
    align-items: center;
}
.table-subtasks__header__search img {
    margin-right: 12px;
}
.table-subtasks__header__search-input {
    border-radius: 40px;
    background: #131922;
    display: flex;
    width: 330px;
    padding: 6px 10px 6px 16px;
    box-sizing: border-box;
    color: #9CA9BA;
    font-size: 16px;
}
.table-subtasks__header-right {
    display: flex;
    align-items: center;
}
.table-subtasks__header-right__btn {
    padding: 12px 14px 13px 14px;
    border-radius: 28px;
    border: 1px solid #373F4C;
    background: #222A38;
    color: #AAB9CF;
    font-size: 16px;
    box-sizing: border-box;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    
}
.table-subtasks__header-right__btn:last-child {
    margin-right: 0;
}
.table-subtasks__header-right__btn.active {
    background-color: #9CA9BA;
    border: 1px solid #9CA9BA;
    color: #222A38;
}
.table-subtasks__content {
    background-color: #1a212c;
    /* background-color: blue; */
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 0 0 16px 16px;
    
    width: 1410px;
}













.table-subtasks__table {
    display: table-header-group;
}
table tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 90px;
    max-height: 300px;
}
td, th {
    max-width: auto;
    text-align: left
  }

tbody {
    margin-top: 45px;
}
.table-subtasks__column {
    padding: 12px 0;
    border-bottom: 1px solid #373F4C;
    
}


.table-subtasks__column-name {
    padding-left: 10px;
    border-right: 1px solid #373F4C;
    color: #AAB9CF;
    font-size: 16px;
    font-weight: 400;
    max-width: 300px;
    height: 40px;
    text-align: start;
}
thead .table-subtasks__column {
    background-color: #1B222D;

}
.table-subtasks__column-name img {
    width: 18px;
    height: 18px;
}

.table-subtasks__column-name:hover{
    color: red;
}
.table-subtasks__column-name img {
    margin-right: 8px;
}
.table-subtasks__id {
    width: 116px;
}
.table-subtasks__name {
    
    
    
    overflow: hidden;
    
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-subtasks__status {
    width: 200px;
    display: flex;
    align-items: center;
    
}
.table-subtasks__status p {
    border-radius: 20px;
    padding: 5px 12px;
    background: #222A38;
    min-width: 116px;
} 
/* .table-subtasks__executor {
    width: 207px;
}
.table-subtasks__controlling {
    width: 183px;
}
.table-subtasks__term {
    width: 123px;
}
.table-subtasks__projects {
    width: 239px;
}
.table-subtasks__tags {
    width: 413px;
} */
.table-subtasks__column-name__avatar {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 26px;
    background-image: url();
}
.table-subtasks__column-name__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
}